# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| VS Code            |
| GitHub             |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print("Result:", result)

Result: 17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

**Objectives:**
- List popular languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Showcase open source tools in the Data Science ecosystem.

## Author

Suman Limbu